* {
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-grey {
  background: #f7f7f7;
}

section > .container {
  width: 1200px;
  margin: auto;
  display: block;
  padding: 30px 50px;
}

#navbar {
  text-align: center;
}

#personal-info a {
  text-decoration: none;
  color: #2196f3;
  font-size: 36px;
}

/* BANNER */
#banner {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  display: inline-flex;
}

.bg1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.6;
  font-size: 48px;
}

.bg2 {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

/* NAVBAR */
#navbar .container {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
}

#navbar a {
  text-align: center;
  text-decoration: none;
  color: #2196f3;
  padding: 16px 25px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: none;
  border-top: none;
}

#navbar img {
  width: 6%;
  position: absolute;
  border: 10px solid #f7f7f7;
  border-radius: 50%;
}
/* ABOUT */
#about .container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  font-size: 24px;
}

#about h1 {
  font-size: 26px;
  padding-bottom: 30px;
}

#about p {
  font-size: 16px;
}

#about ul {
  font-size: 16px;
}

#about #target {
  padding-right: 20%;
  padding-left: 10%;
}

#about #personal-info {
  padding-right: 25%;
}

#about #social-network {
  display: flex;
  padding-left: 5%;
  color: #2196f3;
}

/* JOB-INFO */
.icon {
  padding-left: 25px;
}

#job-info .BigLi {
  list-style-type: disc;
  display: inline-block;
  padding-right: 100px;
  margin-bottom: 5px;
}

#job-info li {
  list-style-type: "-";
}

#job-info .fk {
  color: #f7f7f7;
  background-color: #2196f3;
  border-radius: 6px;
  padding: 1px 3px;
}

#job-info .time {
  display: inline-flex;
  font-style: italic;
}

#job-info .hobby .ovr {
  font-size: 24px;
  color: black;
  line-break: strict;
}

#job-info .hobby {
  display: inline-block;
  color: #2196f3;
  font-size: 50px;
  padding: 10px;
  text-align: center;
}

#job-info .point1 {
  margin-top: 10px;
  height: 3px;
  width: 40px;
  background-color: rgb(0, 119, 255);
  border: 1px solid rgb(0, 119, 255);
  border-width: 3px;
  border-radius: 6px;
  margin-right: 3px;
}

#job-info .point2 {
  margin-top: 10px;
  height: 3px;
  width: 40px;
  background-color: rgb(0, 162, 255);
  border: 1px solid rgb(0, 162, 255);
  border-width: 3px;
  border-radius: 6px;
  margin-right: 3px;
}

#job-info .point3 {
  margin-top: 10px;
  height: 3px;
  width: 40px;
  background-color: gray;
  border: 1px solid gray;
  border-width: 3px;
  border-radius: 6px;
  margin-right: 3px;
}

/* CERTIFICATE */
#certificate {
  padding: 50px 20px;
  display: flex;
  font-size: 24px;
}

#certificate .col {
  padding: 30px;
}

#certificate .bBottom {
  border-bottom: 1px solid #f3721e;
}

#certificate img {
  float: left;
  width: 100%;
}

#certificate ul {
  float: right;
}

#certificate h5 {
  text-transform: uppercase;
}
/* PROJECT */
#project .projName {
  text-transform: uppercase;
  padding: 15px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: none;
}

#project .info {
  padding: 10px 15px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: none;
}

#project .inline {
  display: inline;
  padding: 0 15px;
}

#project .time {
  color: #f7f7f7;
  border: 1px solid #2196f3;
  background-color: #2196f3;
  border-radius: 10px;
}

#project img {
  border: 1px solid rgba(128, 128, 128, 0.3);
  width: 100%;
  height: 200px;
}

#project .about {
  display: grid;
  grid-template-columns: repeat(2, 30% 60%);
  column-gap: 20px;
  padding: 10px 15px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: none;
}

#project .mission {
  display: grid;
  grid-template-columns: repeat(2, 30% 60%);
  column-gap: 20px;
  padding: 10px 15px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: none;
}

#project .tech {
  display: grid;
  grid-template-columns: repeat(2, 30% 80%);
  column-gap: 20px;
  padding: 10px 15px;
  border: 1px solid rgba(128, 128, 128, 0.3);
}

#project ul {
  text-decoration: none;
  padding: 0;
  list-style-type: "-";
}

#project .cv .tech {
  padding-bottom: 65px;
}

#project .web2 .tech {
  padding-bottom: 39px;
}

/* FOOTER */
#footer a {
  text-decoration: none;
  color: #2196f3;
  display: inline-block;
  font-size: 24px;
  padding: 0 20px;
}

#footer .container {
  text-align: center;
}

#footer .ic {
  color: #2196f3;
  font-size: 40px;
  padding: 10px;
}

#footer .ovr {
  font-size: 24px;
  color: rgba(128, 128, 128, 0.705);
}
